/* Global styles */

.main {
    padding-top: 30px;
}

main .row {
    padding-bottom: 20px;
}

/* Box Definitions */

.box {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    height: 200px;

}

/* Row Colors */

.yellow {
    background-color: lightgoldenrodyellow; 
}

.blue {
    background-color: royalblue; 
}

.green {
    background-color: green; 
}

.black {
    background-color: black; 
    color: white;
}